@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ljrdy0');
  src:  url('fonts/icomoon.eot?ljrdy0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ljrdy0') format('truetype'),
    url('fonts/icomoon.woff?ljrdy0') format('woff'),
    url('fonts/icomoon.svg?ljrdy0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gamepad-1:before {
  content: "\e900";
}
.icon-add-outline:before {
  content: "\e901";
}
.icon-add-solid:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e903";
}
.icon-checkmark1:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-close-outline:before {
  content: "\e906";
}
.icon-close-solid:before {
  content: "\e907";
}
.icon-edit-pencil:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-notifications:before {
  content: "\e90a";
}
.icon-notifications-outline:before {
  content: "\e90b";
}
.icon-save-disk:before {
  content: "\e90c";
}
.icon-view-list:before {
  content: "\e90d";
}
.icon-home3:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e912";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-bell:before {
  content: "\e951";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-filter:before {
  content: "\ea5b";
}
